.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 50px;
  gap: 10px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 0px;
}

.cart-container {

}

/* responsive design start  */

/* for mobile device  */
@media only screen and (max-width: 600px) {
  .shop {
    display: flex;
    flex-direction: column-reverse;
  }
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* for tablet device  */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .shop {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
